<h2 mat-dialog-title>Add hero</h2>

<form class="example-form" [formGroup]="heroForm"(ngSubmit)="onSubmit()">

    <mat-dialog-content class="mat-typography">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name" value="{{heroForm.name}}" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Description" formControlName="desc" value="{{heroForm.desc}}" >
            </mat-form-field>
            
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit" [disabled]="!heroForm.valid">Save</button>
    </mat-dialog-actions>
    
</form>

