<!-- Edit Button -->
<button mat-button matTooltip="Add new"  (click)="addHero()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
</button>

<!-- Search Field -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
      
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
        </ng-container>

         <!-- Modify Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row"> 

                <!-- Edit Button -->
                <button mat-button matTooltip="Edit"  (click)="editHero(row.id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                </button>

                <!-- Delete Button -->
                <button mat-button matTooltip="Delete"  (click)="deleteHero(row.id)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
